@import "/src/styles/extend.scss";

.modal-fade-animate {
  animation: modal-fade-in 0.32s cubic-bezier(.25,.8,.25,1);
}

@keyframes modal-fade-in {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.modal.show.d-block {
  display: flex !important;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}